.GroupedList {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-gap: 2%;
}

.GroupedList .PadGroup {
  background-color: #333;
  text-align: center;
  margin-bottom: 5px;
}

.GroupedList .PadGroup .Pad {
  margin: 5px auto;
}
