.App {
  padding: 5px;
}

.App button.fullscreen {
  font-size: 1.2em;
  background-color: lawngreen;
  width: 100%;
  padding: 0.7em;
  border: 0;
  cursor: pointer;
}

.Set {
  margin-top: 1em;
}

.Set .Samples {
  margin-top: 1em;
}

.Sample {
  width: 100%;
  overflow: hidden;
  margin-top: 5px;
}

.Sample img {
  max-width: 50px;
  margin-right: 5px;
  float: left;
}

.Sample .key {
  float: right;
  width: 50px;
  height: 50px;
  background-color: #fefefe;
  line-height: 50px;
  text-align: center;
}

.Sample.running {
  background-color: lightgray;
}
.Sample.running .key {
  background-color: lawngreen;
}
